<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="repositoryMappingsConfiguration" type=" ChinaPay.Comm.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, ChinaPay.Comm.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="entityMappingsConfiguration" type="ChinaPay.Comm.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, ChinaPay.Comm.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IAccountRepository" repositoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="ICompanyRepository" repositoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <entityMappingsConfiguration>
    <entityMappings>
      <entityMapping entityShortTypeName="Account" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <entityMapping entityShortTypeName="Company" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </entityMappings>
  </entityMappingsConfiguration>
  <appSettings>
    <add key="LogConfig" value="E:\工作\项目\红旗\ChinaPay\B3B\Development\SourceCode\LogConfig.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="PoolPayConnection" connectionString="server=192.168.1.254;database=PoolPayTest;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
    <add name="B3B" connectionString="server=192.168.1.254;database=B3b;uid=sa;password=123456"/>
    <add name="Lock" connectionString="server=192.168.1.254;database=B3b;uid=sa;password=123456"/>
    <add name="Log" connectionString="server=192.168.1.254;database=Log;uid=sa;password=123456"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="Index.aspx" loginUrl="Logon.aspx" path="/" name="_Insurance" timeout="30" protection="All"/>
    </authentication>
    <authorization>
      <!--<deny users="?"/>-->
      <allow users="*"/>
    </authorization>
    <sessionState mode="InProc" timeout="30"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。
        -->
    <customErrors mode="Off"></customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime requestValidationMode="2.0"></httpRuntime>
  </system.web>
  <location path="ValidateCode.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="VerifyCode.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FlightHandlers/Recommend.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>