<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChinaPay.B3B.InterfaceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0"/>
        <customErrors mode="Off"/>
    </system.web>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ChinaPay.B3B.InterfaceTest.Properties.Settings>
            <setting name="ChinaPay_B3B_InterfaceTest_WebReference_InterfaceService"
                serializeAs="String">
                <value>http://192.168.1.254:12345/InterfaceService.asmx</value>
            </setting>
            <setting name="ChinaPay_B3B_InterfaceTest_localhost_InterfaceService"
                serializeAs="String">
                <value>http://localhost:1177/InterfaceService.asmx</value>
            </setting>
            <setting name="ChinaPay_B3B_InterfaceTest_ws_InterfaceService"
                serializeAs="String">
                <value>http://ws.b3b.so/InterfaceService.asmx</value>
            </setting>
        </ChinaPay.B3B.InterfaceTest.Properties.Settings>
    </applicationSettings>
</configuration>
