<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="repositoryMappingsConfiguration" type=" ChinaPay.Comm.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, ChinaPay.Comm.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="entityMappingsConfiguration" type="ChinaPay.Comm.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, ChinaPay.Comm.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IAccountRepository" repositoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="ICompanyRepository" repositoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IPayTradeRepository" repositoryFullTypeName="PoolPay.Infrastructure.Repositories.PayTradeRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <entityMappingsConfiguration>
    <entityMappings>
      <entityMapping entityShortTypeName="Account" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <entityMapping entityShortTypeName="Company" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </entityMappings>
  </entityMappingsConfiguration>
  <appSettings>
    <add key="LogConfig" value="D:\Tools\gongyong\LogConfig.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="517NaAddress" value="http://118.114.245.44:9005/BenefitInterface.asmx"/>
    <add key="517NaUserName" value="mof"/>
    <add key="517NaPassword" value="111111"/>
    <add key="517NaSecurityCode" value="ba82f3e3011d44c69f35e0850b794126"/>
    <add key="517NaNotifyCode" value="21d802c3866546108ffc72f30badaf20"/>
    <add key="517NaPatternId" value="0008600281211222769"/>
    <add key="517NaTimeout" value="20000"/>
    <add key="517NaContact" value="周三"/>
    <add key="517NaContactPhone" value="13800138000"/>

    <add key="yeexingUserName" value="kmgft"/>
    <add key="yeexingKey" value="$asdfghj$sdfghjkl"/>
    <add key="yeexingAddress" value="http://help.yeexing.com.cn/CXF/services/IBEService"/>
    <add key="yeexingNotifyUrl" value="http://www.b3b.so/Interface/YeexingNotify.ashx"/>
    <add key="yeexingTimeout" value="15000"/>
  </appSettings>
  <connectionStrings>
    <add name="B3B" connectionString="server=192.168.1.253;database=B3b;uid=sa;password=123456"/>
    <add name="Lock" connectionString="server=192.168.1.253;database=B3b;uid=sa;password=123456"/>
    <add name="Log" connectionString="server=192.168.1.253;database=Log;uid=sa;password=123456"/>
    <add name="PoolPayConnection" connectionString="server=192.168.1.253;database=PoolPay;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
