<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChinaPay.B3B.Service.CommandExecutor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChinaPay.B3B.Service.CommandExecutor.Properties.Settings>
            <setting name="ChinaPay_B3B_Service_CommandExecutor_VeWebReference_VeShareWebServiceService"
                serializeAs="String">
                <value>http://116.55.243.38:80/VeShareWebService/VeShareWebService.dll?Handler=Default</value>
            </setting>
        </ChinaPay.B3B.Service.CommandExecutor.Properties.Settings>
    </applicationSettings>
</configuration>