.muted{
	color: #999;
}
.O_menu_nav{
	background: #fff;
	height: 50px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.O_menu_nav div{
	height: 20px;
	margin: 5px 0 10px;
}
.O_menu_nav div p{
	color: #001284;
	float: left;
	padding: 5px 8px;
}
.O_menu_nav div a{
	float: left;
	margin: 0 5px;
	padding: 5px 8px;
}
.O_menu_nav a.curr,
.O_menu_nav a:hover{
	background-color: #666766;
	border-radius: 8px;
	color: #fff;
	text-decoration: none;
}
.O_menu_con{
	margin: 10px 0 50px;
}
.O_menu_con .anchor{
	display: block;
	height: 40px;
}
/*
.O_menu_btns{
	background-color: #fff;
	bottom: 0;
	left: 0;
	padding-left: 10%;
	position: fixed;
	width: 90%;
}
*/
.O_formBox{
	border-bottom: 1px dashed #ddd;
	line-height: 2;
	padding: 15px 0 10px;
}
.O_formBox a{
	color: #08c;
}
input,
textarea{
	vertical-align: top;
}
input + span,
textarea + span,
.add + span,
.reduce +span{
	padding-left: 5px;
}
input[type="radio"],
input[type="checkbox"]{
	vertical-align: baseline;
}
input[type="button"],
input[type="submit"],
input[type="reset"]{
	margin: 15px 0 10px 10px;
}
.add,
.reduce{
	background-color: #808180;
	border: 1px solid #6A6B6A;
	color: #fff !important;
	cursor: pointer;
	font-size: 20px;
	font-weight: 900;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 24px;
}
.add,
.reduce{
	*display: inline;
}
.add:hover,
.reduce:hover
{
	background-color: #A09D9D;
	text-decoration: none;
}
.O_StyleList{
	margin: 15px 0 10px;
	width: 100%;
}
.O_StyleList li{
	float: left;
	margin: 0 10px 10px;
	width: 120px;
}
.O_StyleList img{
	border: 1px solid #ddd;
	height: 158px;
	width: 118px;
}
.O_StyleList p{
	display: block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	width: 118px;
}
.O_StyleList p.bor{
	border: 1px solid #ddd;
	margin: 5px 0 10px;
}
.O_StyleList 