<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="repositoryMappingsConfiguration" type=" ChinaPay.Comm.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, ChinaPay.Comm.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="entityMappingsConfiguration" type="ChinaPay.Comm.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, 
ChinaPay.Comm.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IAccountRepository"
repositoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICompanyRepository"
repositoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPayTradeRepository"
    repositoryFullTypeName="PoolPay.Infrastructure.Repositories.PayTradeRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ITradeFreezeRepository"
repositoryFullTypeName="PoolPay.Infrastructure.Repositories.TradeFreezeRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPosDeviceRepository" repositoryFullTypeName="PoolPay.Infrastructure.Repositories.PosManager.PosDeviceRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <entityMappingsConfiguration>
    <entityMappings>
      <entityMapping entityShortTypeName="Account" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountFactory, 
PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Company" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyFactory, 
PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="PosDevice" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.PosManager.PosDeviceFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </entityMappings>
    <entityMapping entityShortTypeName="TradeFreeze" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.Freeze.TradeFreezeFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <entityMapping entityShortTypeName="PayTrade" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.Trade.PayTradeFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <entityMapping entityShortTypeName="CreditAccount" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </entityMappingsConfiguration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="SpreadAddress" value="http://localhost:4429/Logon.aspx"/>
    <add key="BasePolciyTemplate" value="/Download/基础政策模板.xls" />
    <add key="RemindToolUrl" value="/Download/基础政策模板.xls" />
    <add key="Upload" value="E:\B3BWeb\Upload" />
    <add key="LogConfig" value="D:\Data\LogConfig.xml" />
    <add key="CommandServerAddress" value="net.tcp://192.168.1.253:9010/XAPI/" />
    <add key="RegularExpressionConfig" value="RegularExpression.xml" />

    <!--是否需要验证票号 1:要验证  其他:不验证-->
    <add key="ValidateTicketNo" value="0" />
    <!--支付宝纯网关充值通知页面-->
    <add key="AlipayPayFillNotifyUrl" value="http://182.245.126.118:980/InterfaceNotify/AlipayPayFillNotify.aspx" />
    <!--支付宝纯网关退款通知页面-->
    <add key="AlipayRefundNotifyUrl" value="http://182.245.126.118:980/InterfaceNotify/AlipayRefundNotify.aspx" />
    <!--支付宝代扣通知页面-->
    <add key="AlipayPayCAENotifyUrl" value="http://182.245.126.118:980/InterfaceNotify/AlipayCAENotify.aspx"/>
    <!--财付通通知页面-->
    <add key="TenpayPayFillNotifyUrl" value="http://182.245.126.118:950/InterfaceNotify/TenpayPayFillNotify.aspx" />
    <!--汇付充值通知页面-->

    <!--快钱充值通知页面-->
    <add key="BillPayFillNotifyUrl" value="http://182.245.126.118:950/InterfaceNotify/NineBillFillNotify.aspx" />

    <!--国付通支付页面-->
    <add key="PoolPayFillNotifyUrl" value="http://192.168.1.254:956/PoolPay/PayLoad.aspx" />
    
    <!--国付通支付网关域名-->
    <add key="PoolPayRequestDomain" value="http://192.168.1.254:955/InterFaceProcessor"/>
    <add key="PoolPayPatternKey" value="poolpay"/>
    <add key="PoolPayPatternCode" value="123"/>
    
    <!--国付通支付通知页面路径-->
    <add key="PoolPayNotifyUrl" value="http://192.168.1.254:998/interface/poolpay/" />

    <!--支付返回页面-->

    <!--汇付充值私钥文件路径-->
    <add key="ChinaPnrPgPrivateKey" value="E:\B3BWeb\CertFile\MerPrK871376.key" />
    <!--财付通证书路径-->
    <add key="TenpayCertFile" value="E:\B3BWeb\CertFile\1900000107.pfx" />
    <!--快钱私钥证书路径-->
    <add key="BillPrivateCertPath" value="E:\B3BWeb\CertFile\99bill-rsa.pfx" />
    <!--快钱公钥路径-->
    <add key="BillPublicCertPath" value="E:\B3BWeb\CertFile\99bill.cert.rsa.20140728.cer" />
    <add key="FillReturnUrl" value="http://182.245.126.118:9018/Interface/PayReturn.aspx" />
    <add key="FillPayReturnUrl" value="http://182.245.126.118:9018/Interface/PayReturn.aspx" />
    <add key="ChinaPnrPayFillNotifyUrl" value="http://182.245.126.118:950/InterfaceNotify/ChinaPnrFillNotify.aspx" />
    <!--短信接口账号密码-->
    <add key="SMSId" value="821322" />
    <add key="SMSAccount" value="b3bweb" />
    <add key="SMSPassword" value="b3bweb" />
    <!--短信模版路径-->
    <add key="SMSTemplete" value="E:\项目\ChinaPay\B3B\Development\ChinaPay.SMS\ChinaPay.SMS.Service\SMSTemplate.xml" />
    <!--签名Key键-->
    <add key="SignKey" value="b3b" />
    <!--B3B跳转路径-->
    <add key="poolpayUrl" value="http://192.168.1.254:956"/>

    <add key="FileWeb" value="http://192.168.1.254:996" />
    <add key="SMSQueuePath" value="FormatName:DIRECT=tcp:192.168.1.253\Private$\smsqueue"/>
    <add key="SMSUserName" value="b3bWeb"/>
    <add key="NotifyQueuePath" value="FormatName:DIRECT=tcp:192.168.1.253\Private$\NotifyQueue"/>
    
   <!--提供支付页面密钥-->
    <add key="ChinaPayKey" value="13951C9793FA414998104D02A644E82B53D4312337C14EC5AC9D08D75FE10454" />

    <!--易行接口配置信息-->
    <add key="yeexingUserName" value="kmgft"/>
    <add key="yeexingKey" value="123456"/>
    <add key="yeexingAddress" value="http://www2.yeexing.com/CXF/services/IBEService"/>
    <add key="yeexingNotifyUrl" value="http://182.245.126.118:9018/Interface/YeexingNotify.ashx"/>
    <add key="yeexingTimeout" value="15000"/>

    <!--51book接口配置信息-->
    <add key="51bookUserName" value="SDFH"/>
    <add key="51bookSecurityCode" value="~!!aLYE1"/>
    <add key="51bookTimeout" value="10000"/>
    <add key="51bookContact" value="王茂林"/>
    <add key="51bookContactPhone" value="13709097473"/>
    <add key="51bookPayReturnUrl" value="http://182.245.126.118:9018/Interface/51bookPayReturn.ashx"/>
    <add key="51bookETDZNotifyUrl" value="http://182.245.126.118:9018/Interface/51bookETDZNotify.ashx"/>
    <add key="51bookPayNotifyUrl" value="http://182.245.126.118:9018/Interface/51bookPayNotify.ashx"/>
    <add key="51bookGetPolicyByPnrTextAddress" value="http://wstest.51book.com:55779/ltips/services/getPolicyByPnrTxtService1.0"/>
    <add key="51bookCreateOrderByPnrTextAddress" value="http://wstest.51book.com:55779/ltips/services/createOrderByRtPatService1.0"/>
    <add key="51bookAutoPayOrderAddress" value="http://wstest.51book.com:55779/ltips/services/payService1.0"/>
    <add key="51bookManualPayOrderAddress" value="http://wstest.51book.com:55779/ltips/services/getPaymentUrlService1.0"/>
    <add key="51bookCancelOrderAddress" value="http://wstest.51book.com:55779/ltips/services/cancelOrderService1.0"/>
    <add key="51bookOrderDetailAddress" value="http://wstest.51book.com:55779/ltips/services/getOrderByOrderNoService1.0"/>


    <!--517接口配置信息-->
    <add key="517NaAddress" value="http://118.114.245.44:9005/BenefitInterface.asmx"/>
    <add key="517NaUserName" value="mof"/>
    <add key="517NaPassword" value="111111"/>
    <add key="517NaSecurityCode" value="ba82f3e3011d44c69f35e0850b794126"/>
    <add key="517NaNotifyCode" value="21d802c3866546108ffc72f30badaf20"/>
    <add key="517NaPatternId" value="0008600281211222769"/>
    <add key="517NaTimeout" value="20000"/>
    <add key="517NaContact" value="周三"/>
    <add key="517NaContactPhone" value="13800138000"/>


  </appSettings>
  <connectionStrings>
    <add connectionString="server=.;database=PoolPay;uid=sa;pwd=sqlpass" name="PoolPayConnection"

providerName="System.Data.SqlClient" />
    <add connectionString="server=.;database=B3B;uid=sa;password=sqlpass" name="B3B" />
    <add connectionString="server=.;database=B3BLog;uid=sa;password=sqlpass" name="Lock" />
    <add connectionString="server=.;database=B3B;uid=sa;password=sqlpass" name="SequenceConnection" />
    <add connectionString="server=.;database=Log;uid=sa;password=sqlpass" name="Log" />
    <add connectionString="server=192.168.1.253;database=PidManage;uid=sa;password=123456" name="PidManage" />
    <add connectionString="server=192.168.1.253;database=SMS;uid=sa;password=123456" name="SMS" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Logon.aspx" path="/" name="_Insurance" timeout="90" protection="All" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <!--<allow users="*" />-->
    </authorization>
    <sessionState mode="InProc" timeout="90" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。
        -->
    <customErrors mode="Off"></customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime requestValidationMode="2.0"></httpRuntime>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="gatewayOrderQuerySoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="gatewayOrderQuerySoapBinding1" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.99bill.com/gatewayapi/services/gatewayOrderQuery"
          binding="basicHttpBinding" bindingConfiguration="gatewayOrderQuerySoapBinding"
          contract="OrderQueryServiceInterface.GatewayOrderQuery" name="gatewayOrderQuery" />
    </client>
  </system.serviceModel>
  <location path="Authentication/Login-un.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ValidateCode.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="VerifyCode.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrderModule/Purchase/Pay.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FlightHandlers/Recommend.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrganizationHandlers/CheckUpComPanyNews.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrganizationHandlers/Address.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Agency.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FlightHandlers/Foundation.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Logon.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>