<?xml version="1.0"?>
<configuration>
    <!--连接字串-->
    <connectionStrings>
        <add name="PoolPayConnection" connectionString="server=192.168.1.1;database=PoolPayTest;uid=sa;pwd=pool0pay7Admin31" providerName="System.Data.SqlClient"/>
        <add name="B3B" connectionString="server=192.168.1.1;database=B3b;uid=sa;password=pool0pay7Admin31"/>
        <add name="Lock" connectionString="server=192.168.1.1;database=B3b;uid=sa;password=pool0pay7Admin31"/>
        <add name="Log" connectionString="server=192.168.1.1;database=Log;uid=sa;password=pool0pay7Admin31"/>
        <add name="PidManage" connectionString="server=192.168.1.1;database=PidManage;uid=sa;pwd=pool0pay7Admin31" providerName="System.Data.SqlClient"/>

    <!--<add name="PoolPayConnection" connectionString="server=192.168.1.253;database=PoolPayTest;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
    <add name="B3B" connectionString="server=192.168.1.253;database=B3b;uid=sa;password=123456"/>
    <add name="Lock" connectionString="server=192.168.1.253;database=B3b;uid=sa;password=123456"/>
    <add name="Log" connectionString="server=192.168.1.253;database=Log;uid=sa;password=123456"/>
    <add name="PidManage" connectionString="server=192.168.1.253;database=PidManage;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    
    <!--程序设置-->
    <appSettings>
        <!--日志文件-->
        <add key="log4net.Config" value="log4net.xml"/>
        <!--是否监控日志-->
        <add key="log4net.Config.Watch" value="True"/>
        <!--是否自动取消编码-->
        <add key="IsAutoUnsubscribe" value="True"/>
        <!--自动取消执行的时间间隔，以分钟为单位-->
        <add key="Interval" value="15"/>
        <!--自动取消时检查的时间区间，以小时为单位-->
        <add key="Range" value="2"/>
        <!--服务器地址-->
        <add key="CommandServerAddress" value="net.tcp://192.168.1.3:9010/XAPI/"/>
        
        <!--正则表达式-->
        <add key="RegularExpressionConfig" value="d:\Config\RegularExpression.xml" />
    </appSettings>
</configuration>
