<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="repositoryMappingsConfiguration" type="ChinaPay.Comm.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, ChinaPay.Comm.Infrastructure, Version=1.0.0.0, 
Culture=neutral, PublicKeyToken=null" />
        <section name="entityMappingsConfiguration" type="ChinaPay.Comm.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, 
ChinaPay.Comm.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <repositoryMappingsConfiguration>
      <repositoryMappings>
        <repositoryMapping interfaceShortTypeName="IAccountRepository"
  repositoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
    Culture=neutral, PublicKeyToken=null" />
        <repositoryMapping interfaceShortTypeName="ICompanyRepository"
  repositoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
    Culture=neutral, PublicKeyToken=null" />
        <repositoryMapping interfaceShortTypeName="IPayTradeRepository"
      repositoryFullTypeName="PoolPay.Infrastructure.Repositories.PayTradeRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
    Culture=neutral, PublicKeyToken=null" />
        <repositoryMapping interfaceShortTypeName="ITradeFreezeRepository"
  repositoryFullTypeName="PoolPay.Infrastructure.Repositories.TradeFreezeRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, 
    Culture=neutral, PublicKeyToken=null" />
        <repositoryMapping interfaceShortTypeName="IPosDeviceRepository" repositoryFullTypeName="PoolPay.Infrastructure.Repositories.PosManager.PosDeviceRepository, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </repositoryMappings>
    </repositoryMappingsConfiguration>
    <entityMappingsConfiguration>
      <entityMappings>
        <entityMapping entityShortTypeName="Account" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.AccountFactory, 
    PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <entityMapping entityShortTypeName="Company" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.CompanyFactory, 
    PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <entityMapping entityShortTypeName="PosDevice" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.PosManager.PosDeviceFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </entityMappings>
      <entityMapping entityShortTypeName="TradeFreeze" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.Freeze.TradeFreezeFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="PayTrade" entityFactoryFullTypeName="PoolPay.Infrastructure.Repositories.Trade.PayTradeFactory, PoolPay.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </entityMappingsConfiguration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
        <add key="BasePolciyTemplate" value="/Download/基础政策模板.xls" />
        <add key="Upload" value="E:\B3BWeb\Upload" />
        <add key="LogConfig" value="E:\B3BWeb\LogConfig.xml" />
        <add key="RegularExpressionConfig" value="RegularExpression.xml" />
        <add key="CommandServerAddress" value="net.tcp://192.168.1.253:9010/XAPI/" />
        <!--是否需要验证票号 1:要验证  其他:不验证-->
        <add key="ValidateTicketNo" value="0" />
        <!--支付宝纯网关充值通知页面-->
        <add key="AlipayPayFillNotifyUrl" value="http://182.245.126.118:950/InterfaceNotify/AlipayPayFillNotify.aspx" />
        <!--财付通通知页面-->
        <add key="TenpayPayFillNotifyUrl" value="http://182.245.126.118:950/InterfaceNotify/TenpayPayFillNotify.aspx" />
        <!--汇付充值通知页面-->

        <!--快钱充值通知页面-->
        <add key="BillPayFillNotifyUrl" value="http://182.245.126.118:950/InterfaceNotify/NineBillFillNotify.aspx" />
        <!--支付返回页面-->

        <!--汇付充值私钥文件路径-->
        <add key="ChinaPnrPgPrivateKey" value="E:\B3BWeb\CertFile\MerPrK871376.key" />
        <!--财付通证书路径-->
        <add key="TenpayCertFile" value="E:\B3BWeb\CertFile\1900000107.pfx" />
        <!--快钱私钥证书路径-->
        <add key="BillPrivateCertPath" value="E:\B3BWeb\CertFile\99bill-rsa.pfx" />
        <!--快钱公钥路径-->
        <add key="BillPublicCertPath" value="E:\B3BWeb\CertFile\99bill.cert.rsa.20140728.cer" />
        <add key="FillReturnUrl" value="http://182.245.126.118:998/Interface/PayReturn.aspx" />
        <add key="FillPayReturnUrl" value="http://182.245.126.118:998/Interface/PayReturn.aspx" />
        <add key="ChinaPnrPayFillNotifyUrl" value="http://182.245.126.118:950/InterfaceNotify/ChinaPnrFillNotify.aspx" />
        <!--短信接口账号密码-->
        <add key="SMSId" value="821322" />
        <add key="SMSAccount" value="b3bweb" />
        <add key="SMSPassword" value="b3bweb" />
        <!--短信模版路径-->
        <add key="SMSTemplatePath" value="d:\SMSTemplate.xml" />
        <!--签名Key键-->
        <add key="SignKey" value="b3b" />
        <!--B3B跳转路径-->
        <add key="poolpayUrl" value="http://192.168.1.254:956"/>
        <!--政策缓存时间-->
        <add key="PolicyTimeOut" value="1" />
         <!--支付宝代扣通知页面-->
         <add key="AlipayPayCAENotifyUrl" value="http://182.245.126.118:980/InterfaceNotify/AlipayCAENotify.aspx"/>
        <add key="FileWeb" value="http://192.168.1.254:996" />

        <!--提供支付页面地址-->
        <add key="ChinaPayUrl" value="http://182.245.126.118:9018/Interface/OrderPay.aspx" />
        <!--提供支付页面密钥-->
        <add key="ChinaPayKey" value="13951C9793FA414998104D02A644E82B53D4312337C14EC5AC9D08D75FE10454" />
        <add key="RegularExpressionConfig" value="RegularExpression.xml" />
        <!--国付通支付页面--> 
        <add key="PoolPayFillNotifyUrl" value="http://192.168.1.254:956/PoolPay/PayLoad.aspx" />
    </appSettings>
    <connectionStrings>
        <add connectionString="server=192.168.1.253;database=PoolPayTest;uid=sa;pwd=123456" name="PoolPayConnection" providerName="System.Data.SqlClient" />
        <add connectionString="server=192.168.1.253;database=B3B;uid=sa;password=123456" name="B3B" />
        <add connectionString="server=192.168.1.253;database=B3B;uid=sa;password=123456" name="Lock" />
        <add connectionString="server=192.168.1.253;database=B3B;uid=sa;password=123456" name="SequenceConnection" />
        <add connectionString="server=192.168.1.253;database=Log;uid=sa;password=123456" name="Log" />
        <add connectionString="server=192.168.1.253;database=SMS;uid=sa;password=123456" name="SMS" />
        <add connectionString="server=192.168.1.253;database=PidManage;uid=sa;password=123456" name="PidManage" />
    </connectionStrings>
</configuration>
