<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChinaPay.B3B.Service.ExternalPlatform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChinaPay.B3B.Service.ExternalPlatform.Properties.Settings>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform__51bookCreateOrder_CreateOrderByRtPatServiceImpl_1_0Service"
                serializeAs="String">
                <value>http://wstest.51book.com:55779/ltips/services/createOrderByRtPatService1.0</value>
            </setting>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform__51bookMatchPolicy_GetPolicyByPnrTxtServiceImpl_1_0Service"
                serializeAs="String">
                <value>http://wstest.51book.com:55779/ltips/services/getPolicyByPnrTxtService1.0</value>
            </setting>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform__51bookAutoPay_PayServiceImpl_1_0Service"
                serializeAs="String">
                <value>http://wstest.51book.com:55779/ltips/services/payService1.0</value>
            </setting>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform__51bookManualPay_GetPaymentUrlServiceImpl_1_0Service"
                serializeAs="String">
                <value>http://wstest.51book.com:55779/ltips/services/getPaymentUrlService1.0</value>
            </setting>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform__51bookCancelOrder_CancelOrderServiceImpl_1_0Service"
                serializeAs="String">
                <value>http://wstest.51book.com:55779/ltips/services/cancelOrderService1.0</value>
            </setting>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform__51bookOrderDetail_GetOrderByOrderNoServiceImpl_1_0Service"
                serializeAs="String">
                <value>http://wstest.51book.com:55779/ltips/services/getOrderByOrderNoService1.0</value>
            </setting>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform__517Na_BenefitInterface"
                serializeAs="String">
                <value>http://118.114.245.44:9005/BenefitInterface.asmx</value>
            </setting>
            <setting name="ChinaPay_B3B_Service_ExternalPlatform_Yeexing_IBEService"
                serializeAs="String">
                <value>http://www2.yeexing.com/CXF/services/IBEService</value>
            </setting>
        </ChinaPay.B3B.Service.ExternalPlatform.Properties.Settings>
    </applicationSettings>
</configuration>