<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="QueuePath" value=".\Private$\NotifyQueue"/>
    <add key="LogConfig" value="D:\Work\代码\ChinaPay.B3B.TransactionWeb\LogConfig.xml" />
    <!--重新发送的最大次数-->
    <add key="MaxTimes" value="5"/>
    <!--重新发送的初始时间间隔，以后每次时间间隔为原来的两倍。直到5次重发为止-->
    <add key="Interval" value="10"/>
    <!--发送消息的等待时间-->
    <add key="Timeout" value="3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
